<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <h2>{{ todo_item.task }}</h2>
            <table>
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                </thead>
            <tbody>
                {% for task in todo_item.all %}
                <tr>
                    {{ task.task }}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>

</body>
</html>
