<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                </thead>
            <tbody>
                {% for task in todo_list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' task.id %}">{{ task.name }}</a>
                    </td>

                    <td>{{ task.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>
